.site{
    /* background-color: yellow; */
    display: grid;
    grid-template-rows: 50px 260px 1fr 100px;
    /* grid-template-columns: ; */
}
a{
    color: black;
    text-decoration: none;
    
}
figcaption{
    font-weight: bold;
}

span{
    font-weight: bold;
}
.blue{
    color: #0065FC;
}
.grey{
    color: #F2F2F2;
}



header a{
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    height: 60px;
    
    
  }
header a:hover{
 border-top: 2px solid #0065FC;
 color: #0065FC;
  }
.recherche{
    /* background-color: blue; */
    margin-left: 2%;
}
.barre_de_recherche{
  display: flex;
}
.barre_de_recherche i{
  background-color: grey;
}

.bouton_recherche{
  color: white;
 background-color: #0065FC;
 height: 30px;
 border-radius: 0px 10px 10px 0px;
}
.filtre{
  display: flex;
}
.filtre p{
  margin-right: 30px;
  border: 1px solid #F2F2F2;
}
.filtre i{
    background-color: #DEEBFF;
}
.body{
/* background-color: black; */
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 70% 1fr;
grid-gap: 50px;
margin-left: 2%;
margin-right: 2%;
}
.body img{
    width: 240px;
    height: 120px;
  }
  figure{
    background-color: white;
    border-radius: 10px;
  }
.resultat_hebergement{
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-auto-rows: 50px 1fr 1fr;
    justify-content: center;
    grid-gap: 10px;
    margin-left: 3%;
    border-radius: 20px;
    
}
.afficher{
    margin-left: 40px;
}
h2{
    grid-column: 1/ span 3;
    margin-left: 40px;
}
.resultat_hebergement figcaption{
    margin-left: 15px;
}

.img_hebergement{
margin: 10px;
}
.resultat_hebergement figure p{
margin-left: 15px;
}
.resultat_hebergement a {
margin
}
.etoile{
margin-left:15px ;
margin-bottom: 15px;
}
.proposition_hebergement{
    background-color: #F2F2F2;
    display: grid;
    grid-template-rows: 70px 170px 170px 170px;
    grid-gap: 10px;
    margin-right: 8%;
    margin-left: 1%;
    border-radius: 20px;
}
h3{
    margin-left: 40px;
}
.proposition_hebergement figure{
    display: grid;
    grid-template-columns: 190px 1fr;
}
.etoileP{
    margin-top: 35px;
}
.proposition_hebergement img{
    width: 140px;
    margin: 7px;
    border-radius: 10px;
}
.proposition_activite{
    /* background-color: coral; */
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 60px 1fr;
}
h4{
    margin-left: 40px;
}
.proposition_activite figure{
    background-color: white;
    box-shadow: 0px 10px 10px 0px #F2F2F2;
    border-radius: 20px;
}
.proposition_activite figcaption{
    margin-top: 15px;
    margin-left: 15px;
}
.proposition_activite img{
    border-radius: 20px 20px 0px 0px;
}
.grille1{
    display: grid;
    grid-template-columns: 480px 430px;
    grid-template-rows: 310px 165px;
    grid-row-start: 2;
    grid-gap: 10px;
}
.grille2{
    display: grid;
    grid-template-columns: 480px 430px;
    grid-template-rows:  165px 310px;
    grid-row-start: 2;
    grid-gap: 10px;
}
.figure1_grille1{
    grid-row: 1 span / 2;
    height: 525px;
    width: 323px;
  }
.figure1_grille1 img{
    height: 475px;
    width: 323px;
    
  }
.figure2_grille1{
      grid-column: 2;
      height: 290px;
      width: 323px;
  }
  .figure2_grille1 img{
      height: 242px;
      width: 323px;
  }
.figure3_grille1{
      grid-column: 2;
      height:206px;
      width: 323px;
  }
 .figure3_grille1 img{
     height: 157px;
     width: 323px;
 }
 .figure1_grille2{
    grid-row: 1 span / 2;
    height: 525px;
    width: 323px;
  }
.figure1_grille2 img{
    height: 475px;
    width: 323px;
    
  }
  .figure2_grille2{
    grid-column: 2;
    height: 206px;
    width: 323px;
}
.figure2_grille2 img{
    height: 157px;
   width: 323px;
}
.figure3_grille2{
    grid-column: 2;
    height: 290px;
    width: 323px;
    margin-top: 77px;
}

.figure3_grille2 img{
   height: 242px;
    width: 323px;
}
footer{
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 517px 440px 1fr;
    height: 160px;
}
.left{
    margin-left: 77px;
}