header{
  background-color: red;
  width: 100%;
}
header a{
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}
.recherche{
  background-color: lightcyan;
}

.bouton_recherche{
  color: white;
 background-color: #0065FC;
}
.filtre{
  display: flex;
}
.filtre p{
  margin-right: 30px;
}

.resultat_recherche{
  background-color: chartreuse;
margin-left: 2%;
margin-right: 2%;
}
.resultat_recherche img{
  width: 240px;
  height: 120px;
}
.section_haute{
 
}
.resultat_hebergement{
 background-color: cornflowerblue;
 width: 60%;
 max-width: 900px;
 height: auto;
 display: grid;
 grid-template-columns: repeat(auto-fill, 250px);
 justify-content: center;
 grid-gap: 10px;
 float: left;
}

.grid-item{

}

.proposition_hebergement{
  background-color: darkkhaki;
  width: 40%;
  height: auto;
  max-width: 400px;
  float: right;
}

.proposition_activite{
  background-color: yellow;
}
footer{
  background-color:pink ;
}