header{
  background-color: red;
  width: 100%;
}
header a{
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}
.recherche{
  background-color: lightcyan;
  margin-left: 2%;
}
.barre_de_recherche{
  display: flex;
}
.barre_de_recherche i{
  background-color: grey;
}

.bouton_recherche{
  color: white;
 background-color: #0065FC;
 height: 30px;
 border-radius: 0px 10px 10px 0px;
}
.filtre{
  display: flex;
}
.filtre p{
  margin-right: 30px;
}

.resultat_recherche{
  background-color: chartreuse;
margin-left: 1%;
margin-right: 1%;
padding-left: 2%;
padding-right: 2%;
}
figure{
  background-color: white;
  border-radius: 10px;
}
.resultat_recherche img{
  width: 240px;
  height: 120px;
}
.section_haute{
 display: grid;
 grid-template-columns: 70% 30%;
}
.resultat_hebergement{
 background-color: #F2F2F2;
 max-width: 1200px;
 height: auto;
 display: grid;
 grid-template-columns: repeat(auto-fill, 350px);
 justify-content: center;
 grid-gap: 10px;
 
 
}
.resultat_hebergement figcaption{
      margin-left: 15px;
}

.img_hebergement{
margin: 15px;
}
.resultat_hebergement figure p{
  margin-left: 15px;
}
.resultat_hebergement a {
  margin
}
.etoile{
  margin-left:15px ;
}
/* figure i{
  margin-left: 15px;
} */

.proposition_hebergement{
  background-color: darkkhaki;
  height: auto;  
}
.proposition_hebergement figure {
  
}



.proposition_activite{
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
 
}
.proposition_activite img{
 
}

.child1{
  grid-row-start: 1 ;
  grid-row-end: span 2;
}
.child1 img{
  height: 400px;
}
.child4{
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: span 2;
}
.child4 img{
  height: 400px;
}
footer{
  background-color:pink ;
  display: flex;
}
