body{
  margin: 0px;
}
.site{
  
  display: grid;
  grid-template-rows: 50px 260px 1fr 100px;
  font-family: 'Raleway', sans-serif;
}
a{
  color: black;
  text-decoration: none;
  
}
figcaption{
  font-weight: bold;
}

span{
  font-weight: bold;
}
.blue{
  color: #0065FC;
}
.grey{
  color: #F2F2F2;
}

header{
  height: 70px;
  margin-left: 55px;
}

header a{
  float: right;
  margin-right: 50px;
  height: 70px;
  border-top: 2px solid white;
  
}
header a:hover{
border-top: 2px solid #0065FC;
color: #0065FC;
}
.recherche{
  margin-left: 60px;
}
.recherche .fas{
  line-height: unset;
}
.barre_de_recherche{
  display: inline-flex;
  align-items: center;
  height: 30px;
}
.barre_de_recherche i{
background-color: #F2F2F2;
padding: 8px 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
height: 14px;
}
.nobold{
font-weight: normal;
margin-top: 14px;
}
.barre_de_recherche input{
  height: 100%;
}

.bouton_recherche{
color: white;
background-color: #0065FC;
height: 30px;
border-radius: 0px 10px 10px 0px;
border: #0065FC;
}
.filtres{
margin-top: 10px;
font-size: larger;
margin-right: 20px;
}
.filtre{
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}
.filtre div{
border: 3px solid #F2F2F2;
display: flex;
align-items: center;
border-radius: 40px;
height: 38px;
margin-right: 20px;

}

.filtre i{
  background-color: #DEEBFF;
height: 20px;
width: 20px;
padding: 10px;
border-radius: 20px;
margin-right: 5px;
text-align: center;
}
.Eco{
  width: 150px;
}
.fam{
  width: 120px;
}
.rom{
  width: 150px; 
}
.animaux{
width: 190px;
}
.info{
  border: 1px solid gray;
border-radius: 20px;
height: 17px;
width: 17px;
text-align: center;
padding: 2px;
}
.body{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1200px 1fr;
  grid-gap: 50px;
  margin-left: 5%;
  margin-right: 5%;
}


figure{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px #E9E9E9;
}
.resultat_hebergement{
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-auto-rows: 50px 1fr 1fr;
  justify-content: center;
  grid-gap: 10px;
  margin-left: 3%;
  border-radius: 20px;
 
}
.resultat_hebergement img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 260px;
  height: 120px;
  margin: 5px;

}
.afficher{
  margin-left: 40px;
}
h2{
  grid-column: 1/ span 3;
  margin-left: 40px;
}
.resultat_hebergement figcaption{
  margin-left: 15px;
}

.resultat_hebergement figure p{
margin-left: 15px;
}
.resultat_hebergement a {
margin
}
.etoile{
margin-left:15px ;
margin-bottom: 15px;
}
.proposition_hebergement{
  background-color: #F2F2F2;
  display: grid;
  grid-template-rows: 70px 170px 170px 170px;
  grid-gap: 10px;
  margin-right: 8%;
  margin-left: 1%;
  border-radius: 20px;
}
h3{
  margin-left: 40px;
}
.propo_titre{
display: flex;
}
.propo_titre .fas{
margin-left: 150px;
margin-top: 25px;
}
.proposition_hebergement figure{
  display: grid;
  grid-template-columns: 175px 1fr;
}
.etoileP{
  margin-top: 35px;
}
.proposition_hebergement img{
  width: 140px;
  margin: 7px;
  border-radius:10px 0px 0px 10px;
  height: 126px;
  
}
.proposition_activite{
  /* background-color: coral; */
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 60px 1fr;
}
h4{
  margin-left: 40px;
}
.proposition_activite figure{
  background-color:white;
  box-shadow: 0px 10px 10px 0px #F2F2F2;
  border-radius: 20px;
}
.proposition_activite figcaption{
  margin-top: 15px;
  margin-left: 15px;
}
.proposition_activite img{
  border-radius: 20px 20px 0px 0px;
}
.grille1{
  display: grid;
  grid-template-columns: 410px 10px;
  grid-template-rows: 310px 165px;
  grid-row-start: 2;
  grid-gap: 10px;
}
.grille2{
  display: grid;
  grid-template-columns: 410px 10px;
  grid-template-rows: 165px 310px;
  grid-row-start: 2;
  grid-gap: 10px;
}
.figure1_grille1{
  grid-row: 1 span / 2;
  height: 525px;
  width: 323px;
}
.figure1_grille1 img{
  height: 475px;
  width: 323px;
  
}
.figure2_grille1{
    grid-column: 2;
    height: 290px;
    width: 323px;
}
.figure2_grille1 img{
    height: 242px;
    width: 323px;
}
.figure3_grille1{
    grid-column: 2;
    height:206px;
    width: 323px;
}
.figure3_grille1 img{
   height: 157px;
   width: 323px;
}
.figure1_grille2{
  grid-row: 1 span / 2;
  height: 525px;
  width: 323px;
}
.figure1_grille2 img{
  height: 475px;
  width: 323px;
  
}
.figure2_grille2{
  grid-column: 2;
  height: 206px;
  width: 323px;
}
.figure2_grille2 img{
  height: 157px;
 width: 323px;
}
.figure3_grille2{
  grid-column: 2;
  height: 290px;
  width: 323px;
  margin-top: 77px;
}

.figure3_grille2 img{
 height: 242px;
  width: 323px;
}
footer{
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: 517px 440px 1fr;
  height: 160px;
}
.left{
  margin-left: 120px;
}

@media screen and (max-width: 1870px) and (min-width: 1700px) {
  .body{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1100px 500px;
      grid-gap: 50px;
      margin-left: 5%;
      margin-right: 5%;
  }
  .propo_titre .fas{
    margin-left: 180px;
    }
}
@media screen and (max-width: 1700px) and (min-width:1400px) {
  .body{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1000px 400px;
      grid-gap: 30px;
      margin-left: 5%;
      margin-right: 5%;
  }
  
  .resultat_hebergement{
  grid-template-columns: 330px 330px 330px;
  grid-gap: 8px;
  }
  .resultat_hebergement img{
  width: 240px;
}
  .proposition_hebergement figure{
  grid-template-columns: 145px 1fr;
}
  .proposition_hebergement img{
      width: 120px
  }
  .propo_titre .fas{
    margin-left: 100px;
    }
      .proposition_activite{

  grid-template-columns:  690px 690px;
 
}

 .grille1{
  grid-template-columns: 350px 10px;
  grid-gap: 8px;
}
     .grille2{
  grid-template-columns: 350px 10px;
  grid-gap: 8px;
}
 
.figure3_grille1{
    width: 310px;
}
  .figure3_grille1 img{
    width: 310px;
}
  .figure2_grille1{
    width: 310px;
}
      .figure2_grille1 img{
    width: 310px;
}
  .figure3_grille2{
    width: 310px;
}
  .figure3_grille2 img{
    width: 310px;
}
  .figure2_grille2{
    width: 310px;
}
      .figure2_grille2 img{
    width: 310px;
}
}

@media screen and (max-width:1400px) and (min-width:1330px) {
  .body{
        display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 900px 400px;
      grid-gap: 20px;
      margin-left: 2%;
      margin-right: 2%;
  }
     .resultat_hebergement{
  grid-template-columns: 300px 300px 300px;
  grid-gap: 8px;
  }
  .resultat_hebergement img{
  width: 210px;
}
  .proposition_hebergement figure{
  grid-template-columns: 145px 1fr;
}
  .proposition_hebergement img{
      width: 120px;
      object-fit: revert;
  }
  .propo_titre .fas{
    margin-left: 100px;
    }
      .proposition_activite{

  grid-template-columns:  640px 640px;
 
}
 .grille1{
  grid-template-columns: 310px 10px;

}
     .grille2{
  grid-template-columns: 310px 10px;

}
  .figure1_grille1{
  grid-row: 1 span / 2;
  height: 523px;
  width: 300px;
}
.figure1_grille1 img{
  height: 475px;
  width: 300px;
  
  object-fit: revert;
}
      .figure1_grille2{
  grid-row: 1 span / 2;
  height: 523px;
  width: 300px;
}
.figure1_grille2 img{
  height: 475px;
  width: 300px;
  
}

.figure3_grille1{
    width: 290px;
}
  .figure3_grille1 img{
    width: 290px;
}
  .figure2_grille1{
    width: 290px;
}
      .figure2_grille1 img{
    width: 290px;
    object-fit: cover;
}
  .figure3_grille2{
    width: 290px;
}
  .figure3_grille2 img{
    width: 290px;
}
  .figure2_grille2{
    width: 290px;
}
      .figure2_grille2 img{
    width: 290px;
}


}

@media screen and (max-width:1330px) and (min-width:1300px) {
  .body{
      display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 900px 400px;
    grid-gap: 20px;
    margin-left: 1%;
    margin-right: 1%;
}
   .resultat_hebergement{
grid-template-columns: 300px 300px 300px;
grid-gap: 8px;
}
.resultat_hebergement img{
width: 210px;
}
.proposition_hebergement figure{
grid-template-columns: 145px 1fr;
}
.proposition_hebergement img{
    width: 120px
}
.propo_titre .fas{
  margin-left: 100px;
  }
    .proposition_activite{

grid-template-columns:  640px 640px;

}
.grille1{
grid-template-columns: 310px 10px;

}
   .grille2{
grid-template-columns: 310px 10px;

}
.figure1_grille1{
grid-row: 1 span / 2;
height: 523px;
width: 300px;
}
.figure1_grille1 img{
height: 475px;
width: 300px;

}
    .figure1_grille2{
grid-row: 1 span / 2;
height: 523px;
width: 300px;
}
.figure1_grille2 img{
height: 475px;
width: 300px;

}

.figure3_grille1{
  width: 290px;
}
.figure3_grille1 img{
  width: 290px;
}
.figure2_grille1{
  width: 290px;
}
    .figure2_grille1 img{
  width: 290px;
}
.figure3_grille2{
  width: 290px;
}
.figure3_grille2 img{
  width: 290px;
}
.figure2_grille2{
  width: 290px;
}
    .figure2_grille2 img{
  width: 290px;
}

}

@media screen and (max-width:1300px) and (min-width:1280px) {
  .body{
      display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 800px 400px;
    grid-gap: 20px;
    margin-left: 1%;
    margin-right: 1%;
}
   .resultat_hebergement{
grid-template-columns: 320px 320px;
grid-template-rows: 50px 1fr 1fr 1fr;
grid-gap: 2px;
}
.resultat_hebergement img{
width: 230px;
}
    .figure_hebergement3{
        grid-row: 4;
    }
    .figure_hebergement4{
        grid-row: 3;
    }
      .figure_hebergement5{
        grid-row: 3;
    }
    .figure_hebergement6{
        grid-row: 4;
      
    }
    .afficher{
        grid-column: 1;
    }
    
.proposition_hebergement figure{
grid-template-columns: 145px 1fr;
}
.proposition_hebergement img{
    width: 120px;
    object-fit: revert;
}
.propo_titre .fas{
  margin-left: 100px;
  }
    .proposition_activite{

grid-template-columns:  600px 600px;

}
.grille1{
grid-template-columns: 300px 10px;
   grid-gap: 6px;

}
   .grille2{
grid-template-columns: 300px 10px;
grid-gap: 6px;
}
.figure1_grille1{
grid-row: 1 span / 2;
height: 513px;
width: 290px;
}
.figure1_grille1 img{
height: 465px;
width: 290px;

object-fit: revert;
}
    .figure1_grille2{
grid-row: 1 span / 2;
height: 513px;
width: 290px;
}
.figure1_grille2 img{
height: 465px;
width: 290px;

}

.figure3_grille1{
  width: 280px;
  height:196px;
}
.figure3_grille1 img{
  width: 280px;
    height: 147px;
}
.figure2_grille1{
  width: 280px;
    height: 280px;
}
    .figure2_grille1 img{
  width: 280px;
        height: 232px;
  object-fit: cover;
}
.figure3_grille2{
  width: 280px;
    height: 280px;
     
}
.figure3_grille2 img{
  width: 280px;
    height: 232px;
   
}
.figure2_grille2{
  width: 280px;
 height:196px;
}
    .figure2_grille2 img{
  width: 280px;
  height: 147px;
}

}

@media screen and (max-width:1280px) and (min-width:1000px) {
  
  .inscrire{
    margin-right: 65px;
  }
  .body{
      display: grid;
      grid-template-rows: 300px 1fr;
      grid-gap: 50px;
     margin-left: 3%;
     margin-right: 3%;
      max-width: 1000px;
  }
  .resultat_hebergement{
  grid-template-columns: 300px 300px 300px;
  grid-gap: 8px;
      grid-row: 2;
      margin-left: 0px;
  width: 1114px;
  }
  .resultat_hebergement img{
  width: 210px;
  }
  .proposition_hebergement{
    background-color: #F2F2F2;
    display: grid;
    grid-template-rows: 70px 170px;
    grid-template-columns: : 170px 170px 170px;
    grid-gap: 10px;
    margin-right: 0%;
    margin-left: 0%;
    border-radius: 20px;
    height: 280px;
    width: 1114px;
  }
      .propo_titre{
          grid-row: 1;
         grid-column-start: 1;
    grid-column-end: span 3;
      }
       
        .propo_titre .fas{
        
            
           margin-left: 850px; 
      }
      
      .propo_figu1{
          grid-row: 2;
          grid-column: 1;
      }
           .propo_figu2{
          grid-row: 2;
          grid-column: 2;
      }
                 .propo_figu3{
          grid-row: 2;
          grid-column: 3;
      }
   
     .proposition_hebergement figure{
     grid-template-columns: 145px 1fr;
   }
     .proposition_hebergement img{
         width: 120px
     }
     .proposition_activite{
      grid-gap: 90px;
      grid-template-rows: : 20px 1fr 1fr;     
             margin-bottom: 100px;
    margin-left: 70px;
      width: 1000px;
    }
     .grille1{
        grid-row: 2;
      grid-template-columns: 400px 10px;
        
    
    }
          .grille2{
             grid-row: 3;
      grid-template-columns: 400px 10px;
    
    }
      .figure1_grille1{
      grid-row: 1 span / 2;
      height: 513px;
      width: 290px;
    }
    .figure1_grille1 img{
      height: 465px;
      width: 290px;
      
      object-fit: revert;
    }
          .figure1_grille2{
      grid-row: 1 span / 2;
      height: 513px;
      width: 290px;
    }
    .figure1_grille2 img{
      height: 465px;
      width: 290px;
      
    }
    
    .figure3_grille1{
        width: 280px;
        height:196px;
    }
      .figure3_grille1 img{
        width: 280px;
          height: 147px;
    }
      .figure2_grille1{
        width: 280px;
          height: 280px;
    }
          .figure2_grille1 img{
        width: 280px;
              height: 232px;
        object-fit: cover;
    }
      .figure3_grille2{
        width: 280px;
          height: 280px;
           
    }
      .figure3_grille2 img{
        width: 280px;
          height: 232px;
         
    }
      .figure2_grille2{
        width: 280px;
       height:196px;
    }
          .figure2_grille2 img{
        width: 280px;
        height: 147px;
    }
     
         
       }
  

   @media screen and (max-width:1000px) and (min-width:715px){
    .inscrire{
      margin-right: 495px;
    }
    
    .body{
     display: grid;
     grid-template-rows: 800px 1fr;
     grid-gap: 50px;
    /*! margin-left: 3%; */
    /*! margin-right: 3%; */
 }
    .resultat_hebergement{
        background-color: white;
        width: 700px;
        grid-row: 2;
 grid-template-columns: 340px 340px;
 grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr;
 grid-gap: 2px;
        margin-left: 152px;
 }
 .resultat_hebergement img{
 width: 290px;
 height: 147px;
     margin: 5px;
}
     .resultat_hebergement figure{
 width: 300px;
  height:260px;
     }
       .figure_hebergement1{
         grid-row: 2;
     }
       .figure_hebergement2{
         grid-row: 3;
     }
     .figure_hebergement3{
         grid-row: 4;
     }
     .figure_hebergement4{
         grid-row: 5;
     }
       .figure_hebergement5{
         grid-row: 6;
     }
     .figure_hebergement6{
         grid-row: 7;
       
     }
     .afficher{
         grid-column: 1;
     }
     .proposition_hebergement{
         margin-left: 152px;
         width: 500px;
         grid-gap: 60px
     }
     
 .proposition_hebergement figure{
 grid-template-columns: 145px 1fr;
}
 .proposition_hebergement img{
     width: 120px
 }
 .propo_titre .fas{
  margin-left: 235px;
  }
     .proposition_activite{
 grid-gap: 5px;
 grid-template-rows: : 20px 1fr 1fr;     
        margin-bottom: 100px;
margin-left: 152px;
}
.grille1{
   grid-row: 2;
   grid-template-columns: 1fr;
    grid-template-rows: none;

}
     .grille2{
        grid-row: 3;
         grid-template-columns: 1fr;
 grid-template-rows: none;

}
 .figure1_grille1{
 grid-row: 1 ;
width: 280px;
  height:196px;
}
.figure1_grille1 img{
  width: 280px;
   height: 147px;
 
}
     .figure1_grille2{
 grid-row: 1;
width: 280px;
  height:196px;
}
.figure1_grille2 img{
  width: 280px;
   height: 147px;
   grid-row: 1;
 
}

.figure3_grille1{
width: 280px;
  height:196px;
    grid-column: 1;
     grid-row: 3;
}
 .figure3_grille1 img{
   width: 280px;
   height: 147px;
}
 .figure2_grille1{
   width: 280px;
  height:196px;
     grid-row: 2;
     grid-column: 1;
}
     .figure2_grille1 img{
width: 280px;
   height: 147px;
}
 .figure3_grille2{
  width: 280px;
  height:196px;
     grid-column: 1;
     grid-row: 3;
     margin-top: 0px;
      
}
 .figure3_grille2 img{
  width: 280px;
   height: 147px;
    
}
 .figure2_grille2{
   width: 280px;
  height:196px;
      grid-column: 1;
     grid-row: 2;
}
     .figure2_grille2 img{
   width: 280px;
   height: 147px;
}
footer{
grid-template-columns: 407px 340px 1fr;
}
.left{
margin-left: 67px;
}

}

@media screen and (max-width:715px) and (min-width:515px) {
.inscrire{
  margin-right: 595px;
}

.filtre{
   display: grid;
   grid-template-columns: 50px 200px 200px 200px;
   grid-template-rows: 1fr 1fr;
   grid-gap: 10px;
  margin-top: 20px;
}
.animaux{
   grid-row: 2;
}
.body{
display: grid;
grid-template-rows: 800px 1fr;
grid-gap: 50px;
/*! margin-left: 3%; */
/*! margin-right: 3%; */
}
.resultat_hebergement{
 background-color: white;
 width: 700px;
 grid-row: 2;
grid-template-columns: 340px 340px;
grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: 2px;
 margin-left: 0%;
}
.resultat_hebergement img{
width: 290px;
height: 147px;
margin: 5px;
}
.resultat_hebergement figure{
width: 300px;
height:260px;
}
.figure_hebergement1{
  grid-row: 2;
}
.figure_hebergement2{
  grid-row: 3;
}
.figure_hebergement3{
  grid-row: 4;
}
.figure_hebergement4{
  grid-row: 5;
}
.figure_hebergement5{
  grid-row: 6;
}
.figure_hebergement6{
  grid-row: 7;

}
.afficher{
  grid-column: 1;
}
.proposition_hebergement{
 margin-left: 0%;
  width: 500px;
  grid-gap: 60px;
 margin-top: 30px;
}

.proposition_hebergement figure{
grid-template-columns: 145px 1fr;
}
.proposition_hebergement img{
width: 120px
}
.propo_titre .fas{
  margin-left: 235px;
  }
.proposition_activite{
grid-gap: 5px;
grid-template-rows: : 20px 1fr 1fr;     
 margin-bottom: 100px;
margin-left: 0%;
}
.grille1{
grid-row: 2;
grid-template-columns: 1fr;
grid-template-rows: none;

}
.grille2{
 grid-row: 3;
  grid-template-columns: 1fr;
grid-template-rows: none;

}
.figure1_grille1{
grid-row: 1 ;
width: 280px;
height:196px;
}
.figure1_grille1 img{
width: 280px;
height: 147px;

}
.figure1_grille2{
grid-row: 1;
width: 280px;
height:196px;
}
.figure1_grille2 img{
width: 280px;
height: 147px;
grid-row: 1;

}

.figure3_grille1{
width: 280px;
height:196px;
grid-column: 1;
grid-row: 3;
}
.figure3_grille1 img{
width: 280px;
height: 147px;
}
.figure2_grille1{
width: 280px;
height:196px;
grid-row: 2;
grid-column: 1;
}
.figure2_grille1 img{
width: 280px;
height: 147px;
}
.figure3_grille2{
width: 280px;
height:196px;
grid-column: 1;
grid-row: 3;
margin-top: 0px;

}
.figure3_grille2 img{
width: 280px;
height: 147px;

}
.figure2_grille2{
width: 280px;
height:196px;
grid-column: 1;
grid-row: 2;
}
.figure2_grille2 img{
width: 280px;
height: 147px;
}
footer{
grid-template-columns: 307px 230px 1fr;
}
.left{
margin-left: 57px;
}
}
@media screen and (max-width:515px) {

header{
height: 100px;
    display: grid;
    grid-template-columns: 170px 170px 
}
header a{
float: none;
margin-right: 0px;
height: 70px;
border-bottom: 2px solid #f2f2f2;

}
header a:hover{
border-bottom: 2px solid #0065FC;
color: #0065FC;
border-top: none;

}
 .inscrire{
     border: none;
margin-right: 0px;
}

.inscrire:hover{
    border: none;
}

.recherche{
/* background-color: blue; */
margin-left: 2%;
margin-top: 90px;
width: 350px;
}


.filtre{
display: grid;
grid-template-rows: 10px 1fr 1fr 1fr;
grid-template-columns: 160px 1fr;
grid-gap: 10px;
margin-top: 10px;
}
.filtres{
margin-top: 0px;
}
.Eco{
    grid-row: 2;
      grid-column: 1;
}
.fam{
    grid-row: 2;
    grid-column: 2;
}
.rom{
    grid-row: 3;
}
.animaux{
grid-column: 1;
grid-row: 4;
}
.body{
display: grid;
margin-left: 0%;
margin-right: 0%;
 grid-template-rows: 600px 1fr;
width: 350px;
}
.resultat_hebergement{
  background-color: white;
  width: 700px;
  grid-row: 2;
grid-template-columns: 340px;
grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: 2px;
  margin-left: 0%;
  margin-top: 190px;
  /*! width: 651px; */
  width: 350px;
}
.resultat_hebergement img{
width: 290px;
height: 147px;
margin: 5px;
}
.resultat_hebergement figure{
width: 300px;
height:260px;
}
 .figure_hebergement1{
   grid-row: 2;
}
 .figure_hebergement2{
   grid-row: 3;
}
.figure_hebergement3{
   grid-row: 4;
}
.figure_hebergement4{
   grid-row: 5;
}
 .figure_hebergement5{
   grid-row: 6;
}
.figure_hebergement6{
   grid-row: 7;
 
}
.afficher{
   grid-column: 1;
}
.proposition_hebergement{
  margin-left: none;
   width: 350px;
   grid-gap: 0px;
   height: 600px;
   margin-top: 215px;
}

.proposition_hebergement figure{
grid-template-columns: 132px 1fr;
}
.proposition_hebergement img{
width: 120px;
object-fit: cover;
}
.propo_titre .fas{
  margin-left: 85px;
  }
.proposition_activite{
grid-gap: 5px;
grid-template-rows: : 20px 1fr 1fr;     
  margin-bottom: 100px;
margin-left: 0%;
width: 350px;
}
.grille1{
grid-row: 2;
grid-template-columns: 1fr;
grid-template-rows: none;

}
.grille2{
  grid-row: 3;
   grid-template-columns: 1fr;
grid-template-rows: none;

}
.figure1_grille1{
grid-row: 1 ;
width: 280px;
height:196px;
}
.figure1_grille1 img{
width: 280px;
height: 147px;

object-fit: cover;
}
.figure1_grille2{
grid-row: 1;
width: 280px;
height:196px;
}
.figure1_grille2 img{
width: 280px;
height: 147px;
grid-row: 1;

}

.figure3_grille1{
width: 280px;
height:196px;
grid-column: 1;
grid-row: 3;
}
.figure3_grille1 img{
width: 280px;
height: 147px;
}
.figure2_grille1{
width: 280px;
height:196px;
grid-row: 2;
grid-column: 1;
}
.figure2_grille1 img{
width: 280px;
height: 147px;
object-fit: cover;
}
.figure3_grille2{
width: 280px;
height:196px;
grid-column: 1;
grid-row: 3;
margin-top: 0px;

}
.figure3_grille2 img{
width: 280px;
height: 147px;

object-fit: cover;
}
.figure2_grille2{
width: 280px;
height:196px;
grid-column: 1;
grid-row: 2;
}
.figure2_grille2 img{
width: 280px;
height: 147px;
}
footer{
grid-template-rows: 150px 150px 150px;
height: 600px;
width: 375px;
}
.left{
margin-left: 0px;
grid-row:1; 
   
width: 350px;
}
.footer_div2{
    grid-row: 2;
     /*! margin-left: 57px; */
    width: 350px;
}
.footer_div3{
    grid-row: 3;
    /*! margin-left: 57px; */
    width: 350px;
}
} 