:root{
  --blue:#0065FC ;
  --grey: #F2F2F2;
  --second_grey:#DEEBFF;
  --white: white;
  --bold: bold;
  --marge: 100px;

}
.etoile_primary{
  color: var(--blue);
}
.etoile_second{
  color: var(--grey);
}
body{
    margin: 0px;
    display: grid;
    grid-template-rows: 50px 300px 1fr 100px;
    font-family: 'Raleway', sans-serif;
   
  }
  a{
    color: black;
    text-decoration: none;
  }
  header{
    height: 70px;
    margin-left: var(--marge);
    margin-right: var(--marge);
  }
  
  header nav{
    float: right;
  }
  
  header a{
    float: right;
    margin-right: 74px;
    height: 70px;
    border-top: 2px solid var(--white);
    padding: 20px;
  }
  header a:hover{
  border-top: 2px solid var(--blue);
  color: var(--blue);
  }
.recherche{
  margin-left: var(--marge);
  margin-right: var(--marge);
}
  .espace_recherche{
    border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  border-left: none;
  border-right: none;
  height: 40px;
  }
  .barre_de_recherche{
    display: inline-flex;
    align-items: center;
    height: 40px;
  }
  .barre_de_recherche i{
    background-color: var(--grey);
    padding: 14px 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .bouton_recherche{
    color: var(--white);
    background-color: var(--blue);
    height: 44px;
    border-radius: 0px 10px 10px 0px;
    border: var(--blue);
    }
    .filtre{
      display: flex;
      align-items: flex-start;
      margin-top: 30px;
    }
    .filtre div{
      border: 3px solid var(--grey);
      display: flex;
      align-items: center;
      border-radius: 40px;
      height: 42px;
      margin-right: 20px;
      }
      .filtre i{
        background-color: var(--second_grey);
        color: var(--blue);
        width: 20px;
        padding: 13px;
        border-radius: 20px;
        margin-right: 5px;
        text-align: center;
        }
        .filtre span{
          font-weight: var(--bold);
        }

    .filtres{
      margin-top: 10px;
      font-size: larger;
      margin-right: 20px;
    }
    .filtre :nth-child(2){
      width: 150px;
    }
    
    .filtre :nth-child(3){
      width: 120px;
    }
    .filtre :nth-child(3) :nth-child(1){
      width: 40px;
    }
    .filtre :nth-child(4){
      width: 150px; 
    }
    .filtre :nth-child(4) :nth-child(1){
      width: 30px;
    }
    .filtre :nth-child(5){
    width: 195px;
    }
    .info{
      border: 1px solid var(--grey);
      color: var(--blue);
      border-radius: 20px;
      height: 20px;
      width: 20px;
      text-align: center;
      padding: 3px;
      margin-right: 10px;
    }
    .contain{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1110px 450px;
      grid-gap: 50px;
      margin-left: var(--marge);
      margin-right: var(--marge);
    }
    figure{
      background-color: var(--white);
      border-radius: 10px;
      box-shadow: 0px 10px 10px 0px #E9E9E9;
      transition: 0.5s;
    }
    
    figure:hover{
      transform: scale(1.10);
    }
    .resultat_hebergement{
      background-color: var(--grey);
      display: grid;
      grid-template-columns: 350px 350px 350px;
      grid-auto-rows: 50px 1fr 1fr;
      justify-content: center;
      grid-gap: 10px;
      border-radius: 20px;
    }
    h2{
      grid-column: 1/ span 3;
      margin-left: 40px;
    }
    .resultat_hebergement img{
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      width: 260px;
      height: 120px;
      margin: 5px;
      object-fit: cover;
    }
    .resultat_hebergement figcaption{
      margin-left: 15px;
      font-weight: var(--bold);
    }
    .resultat_hebergement span{
      font-weight: var(--bold);
    }
    .resultat_hebergement figure p{
    margin-left: 15px;
    }
    
    .etoile{
    margin-left: 15px;
    margin-bottom: 15px;
    }
    .afficher{
      margin-left: 40px;
      font-size: 20px;
    }
    .afficher:hover{
      color: #0065FC;
    }
    .proposition_hebergement{
      background-color: var(--grey);
      display: grid;
      grid-template-rows: 70px 170px 170px 170px;
      grid-gap: 10px;
      border-radius: 20px;
    }
    .propo_titre{
      display: flex;
      }
      .propo_titre .fas{
        margin-left: 125px;
        margin-top: 25px;
        }
    .proposition_hebergement h2{
      margin-left: 40px;
    }
    .proposition_hebergement figure{
      display: grid;
      grid-template-columns: 175px 1fr;
    }
    .etoileP{
      margin-top: 35px;
    }
    .proposition_hebergement img{
      width: 140px;
      margin: 7px;
      border-radius:10px 0px 0px 10px;
      height: 126px;
      object-fit: cover;
    }
    .proposition_activite{
      grid-column: 1 / span 2;
      display: grid;
      grid-template-columns:  1fr 1fr;
      grid-template-rows: 60px 1fr;
    }

    .proposition_activite h2{
      margin-left: 40px;
    }
    .proposition_activite figure{
      background-color:var(--white);
      box-shadow: 0px 10px 10px 0px var(--grey);
      border-radius: 20px;
    }
    .proposition_activite figcaption{
      margin-top: 15px;
      margin-left: 15px;
    }
    .proposition_activite img{
      border-radius: 20px 20px 0px 0px;
      object-fit: cover;
    }
    .grille1{
      display: grid;
      grid-template-columns: 410px 10px;
      grid-template-rows: 310px 165px;
      grid-row-start: 2;
      grid-gap: 10px;
    }
  .figure1_grille1{
    grid-row: 1 span / 2;
    height: 525px;
    width: 323px;
  }
  .figure1_grille1 img{
    height: 475px;
    width: 323px;
    
  }
  .figure2_grille1{
      grid-column: 2;
      height: 290px;
      width: 323px;
  }
  .figure2_grille1 img{
      height: 242px;
      width: 323px;
  }
  .figure3_grille1{
      grid-column: 2;
      height:206px;
      width: 323px;
  }
  .figure3_grille1 img{
     height: 157px;
     width: 323px;
  }

  .grille2{
    display: grid;
    grid-template-columns: 410px 10px;
    grid-template-rows: 165px 310px;
    grid-row-start: 2;
    grid-gap: 10px;
  }
  .figure1_grille2{
    grid-row: 1 span / 2;
    height: 525px;
    width: 323px;
  }
  .figure1_grille2 img{
    height: 475px;
    width: 323px;
    
  }
  .figure2_grille2{
    grid-column: 2;
    height: 206px;
    width: 323px;
  }
  .figure2_grille2 img{
    height: 157px;
   width: 323px;
  }
  .figure3_grille2{
    grid-column: 2;
    height: 290px;
    width: 323px;
    margin-top: 77px;
  }
  
  .figure3_grille2 img{
   height: 242px;
    width: 323px;
  }

  footer{
    background-color: var(--grey);
    display: inline-flex;
    height: 200px;
  }
  footer div{
    margin-right: 220px;
    margin-left: 100px;
    margin-top: 60px;
  }
  footer a{
    font-weight: var(--bold);
  }


  /* media queries */
  @media screen and (max-width: 1870px) and (min-width: 1700px) {
    .contain{
        grid-template-columns: 1070px 400px;
        grid-gap: 50px;
    }
    .propo_titre .fas{
      margin-left: 80px;
      }
      .grille1{
        grid-template-columns: 390px 10px;    
      }
      .grille2{
        grid-template-columns: 390px 10px;      
  }
}

@media screen and (max-width: 1700px) and (min-width:1400px) {
  :root{
    --marge: 50px;
  }
  .contain{
    grid-template-columns: 1000px 400px;
    grid-gap: 30px;
}
.resultat_hebergement{
  grid-template-columns: 330px 330px 330px;
  grid-gap: 8px;
  }
  .resultat_hebergement img{
  width: 240px;
}
.propo_titre .fas{
  margin-left: 80px;
  }
  .grille1{
    grid-template-columns: 350px 10px;    
    grid-gap: 8px;
  }
  .figure2_grille1{
    width: 310px;
}
      .figure2_grille1 img{
    width: 310px;
}
.figure3_grille1{
  width: 310px;
}
.figure3_grille1 img{
  width: 310px;
}
  .grille2{
    grid-template-columns: 350px 10px;   
    grid-gap: 8px;   
}
.figure2_grille2{
  width: 310px;
}
    .figure2_grille2 img{
  width: 310px;
}
.figure3_grille2{
  width: 310px;
}
.figure3_grille2 img{
  width: 310px;
}

}
@media screen and (max-width:1400px) and (min-width:1330px){
  :root{
    --marge: 50px;
  }
  .contain{
    grid-template-columns: 900px 360px;
    grid-gap: 20px;
}
.resultat_hebergement{
  grid-template-columns: 300px 300px 300px;
  grid-gap: 8px;
  }
  .resultat_hebergement img{
  width: 210px;
}
.proposition_hebergement figure{
  grid-template-columns: 145px 1fr;
}
  .proposition_hebergement img{
      width: 120px;
  }
  .propo_titre .fas{
    margin-left: 35px;
    }
    .proposition_activite{
      grid-template-columns:  640px 640px;
    }
    .grille1{
      grid-template-columns: 310px 10px;
    }
    .figure1_grille1{
      height: 523px;
      width: 300px;
    }
    .figure1_grille1 img{
      height: 475px;
      width: 300px;
    }
    .figure2_grille1{
      width: 290px;
  }
        .figure2_grille1 img{
      width: 290px;
  }
  .figure3_grille1{
    width: 290px;
}
  .figure3_grille1 img{
    width: 290px;
}
.grille2{
  grid-template-columns: 310px 10px;
}
.figure1_grille2{
  height: 523px;
  width: 300px;
}
.figure1_grille2 img{
  height: 475px;
  width: 300px; 
}
.figure2_grille2{
  width: 290px;
}
    .figure2_grille2 img{
  width: 290px;
}
.figure3_grille2{
  width: 290px;
}
.figure3_grille2 img{
  width: 290px;
}
footer div{
  margin-left: 70px;
}
}
@media screen and (max-width:1330px) and (min-width:1300px){
  :root{
    --marge: 34px;
  }
  header a{
    margin-right: 25px;
  }
  .contain{
    grid-template-columns: 880px 355px;
    grid-gap: 20px;
}
.resultat_hebergement{
  grid-template-columns: 300px 300px 300px;
  grid-gap: 8px;
  }
  .resultat_hebergement img{
  width: 210px;
  }
  .propo_titre .fas{
    margin-left: 35px;
    }
    .proposition_hebergement figure{
      grid-template-columns: 145px 1fr;
      }
      .proposition_hebergement img{
          width: 120px
      }
      .proposition_activite{
    grid-template-columns:  640px 640px;
    margin-left: -35px;
        }
.grille1{
            grid-template-columns: 310px 10px;
          }
 .figure1_grille1{
            height: 523px;
            width: 300px;
            }
     .figure1_grille1 img{
            height: 475px;
            width: 300px;
            }
            .figure2_grille1{
              width: 290px;
            }
                .figure2_grille1 img{
              width: 290px;
            }
            .figure3_grille1{
              width: 290px;
            }
            .figure3_grille1 img{
              width: 290px;
            }
            .grille2{
              grid-template-columns: 310px 10px;
              }
              .figure1_grille2{
                height: 523px;
                width: 300px;
                }
                .figure1_grille2 img{
                height: 475px;
                width: 300px;
                }
                .figure2_grille2{
                  width: 290px;
                }
                    .figure2_grille2 img{
                  width: 290px;
                }
                .figure3_grille2{
                  width: 290px;
                }
                .figure3_grille2 img{
                  width: 290px;
                }
                footer div{
                  margin-left: 50px;
                }
}
@media screen and (max-width:1300px) and (min-width:1280px) {
  :root{
    --marge: 34px;
  }
  header a{
    margin-right: 25px;
  }
  .contain{
    grid-template-columns: 800px 355px;
    grid-gap: 20px;
}
.resultat_hebergement{
  grid-template-columns: 320px 320px;
  grid-template-rows: 50px 1fr 1fr 1fr;
  grid-gap: 2px;
  }
  .resultat_hebergement img{
  width: 230px;
  }
      .figure_hebergement3{
          grid-row: 4;
      }
      .figure_hebergement4{
          grid-row: 3;
      }
        .figure_hebergement5{
          grid-row: 3;
      }
      .figure_hebergement6{
          grid-row: 4;
        
      }
      .afficher{
          grid-column: 1;
      }
      .proposition_hebergement{
        grid-gap: 96px;
      }
      .propo_titre .fas{
        margin-left: 35px;
        }
        .proposition_hebergement figure{
          grid-template-columns: 145px 1fr;
          }
          .proposition_hebergement img{
              width: 120px;
          }
          .proposition_activite{
            grid-template-columns:  600px 600px;
            margin-left: -35px;
            }
            .grille1{
            grid-template-columns: 300px 10px;
            grid-gap: 6px;
            }
            .figure1_grille1{
              height: 513px;
              width: 290px;
              }
              .figure1_grille1 img{
              height: 465px;
              width: 290px;
              }
              .figure2_grille1{
                width: 280px;
                height: 280px;
              }
                  .figure2_grille1 img{
                width: 280px;
                height: 232px;
              }
              .figure3_grille1{
                width: 280px;
                height:196px;
              }
              .figure3_grille1 img{
                width: 280px;
                  height: 147px;
              }
              .grille2{
                grid-template-columns: 300px 10px;
                grid-gap: 6px;
                }
                .figure1_grille2{
                  height: 513px;
                  width: 290px;
                  }
                  .figure1_grille2 img{
                  height: 465px;
                  width: 290px;
                  }
                .figure2_grille2{
                  width: 280px;
                  height:196px;
                }
                .figure2_grille2 img{
                  width: 280px;
                    height: 147px;
                }
                  .figure3_grille2{
                    width: 280px;
                    height: 280px;
                  }
                      .figure3_grille2 img{
                    width: 280px;
                    height: 232px;
                    }
                    footer div{
                      margin-left: 50px;
                    }
}
@media screen and (max-width:1280px) and (min-width:1000px){
  :root{
    --marge: 34px;
  }
  header a{
    margin-right: 25px;
  }
  .contain{
      display: grid;
      grid-template-rows: 300px 1fr;
      width: 1000px;
  }
  .proposition_hebergement{
grid-row: 1;
grid-template-rows: 70px 170px;
grid-template-columns: 360px 360px 360px;
height: 280px;
width: 1114px;
  }
  .propo_titre{
    grid-row: 1;
   grid-column-start: 1;
grid-column-end: span 3;
}
  .propo_titre .fas{
    margin-left: 800px;
}
.proposition_hebergement figure{
  grid-template-columns: 180px 1fr;
  width: 320px;
}
.propo_figu1{
    grid-row: 2;
    grid-column: 1;
}
     .propo_figu2{
    grid-row: 2;
    grid-column: 2;
}
           .propo_figu3{
    grid-row: 2;
    grid-column: 3;
}
.resultat_hebergement{
  grid-template-columns: 300px 300px 300px;
  grid-gap: 8px;
  grid-row: 2;
  }
  .resultat_hebergement img{
  width: 210px;
  }
  .proposition_activite{
    grid-gap: 90px;
    grid-template-rows:  20px 1fr 1fr;     
    margin-bottom: 100px;
    width: 400px;
    margin-left: 150px;
  }
  .grille1{
    grid-row: 2;
  grid-template-columns: 400px 10px;
}
.grille2{
  grid-row: 3;
grid-template-columns: 400px 10px;
}
footer{
  height: 230px;
}
footer div{
  margin-left: 20px;
}
}
@media screen and (max-width:1000px) and (min-width:715px){
  :root{
    --marge: 34px;
  }
  header a{
    margin-right: 25px;
  }
  .filtre{
    display: grid;
    grid-template-columns: 50px 200px 200px 200px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
   margin-top: 20px;
 }
 .animaux{
  grid-row: 2;
}
.contain{
  display: grid;
  grid-template-rows: 300px 1fr;
  width: 715px;
}
.proposition_hebergement{
   width: 500px;
   grid-gap: 60px;
  margin-top: 30px;
  height: 800px;
 }
.proposition_hebergement figure{
  grid-template-columns: 145px 1fr;
  }
  .proposition_hebergement img{
  width: 120px
  }
  .propo_titre .fas{
    margin-left: 180px;
    }
    .resultat_hebergement{
      background-color: var(--white);
      width: 700px;
      grid-row: 2;
     grid-template-columns: 340px 340px;
     grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-gap: 2px;
     margin-top: 490px;
     }
     .resultat_hebergement img{
     width: 290px;
     height: 147px;
     margin: 5px;
     }
     .resultat_hebergement figure{
     width: 300px;
     height:260px;
     }
     .figure_hebergement1{
       grid-row: 2;
     }
     .figure_hebergement2{
       grid-row: 3;
     }
     .figure_hebergement3{
       grid-row: 4;
     }
     .figure_hebergement4{
       grid-row: 5;
     }
     .figure_hebergement5{
       grid-row: 6;
     }
     .figure_hebergement6{
       grid-row: 7;
     }
     .afficher{
       grid-column: 1;
     }
     .proposition_activite{
      grid-gap: 5px;
      grid-template-rows:  70px 1fr 1fr;     
      margin-bottom: 100px;
      width: 700px;
      }
      .grille1{
      grid-row: 2;
      grid-template-columns: 1fr;
      grid-template-rows: none;
      }
      .figure1_grille1{
        grid-row: 1 ;
        width: 280px;
        height:196px;
        }
        .figure1_grille1 img{
        width: 280px;
        height: 147px;
        }
        .figure2_grille1{
          width: 280px;
          height:196px;
          grid-row: 2;
          grid-column: 1;
          }
          .figure2_grille1 img{
          width: 280px;
          height: 147px;
          }
        .figure3_grille1{
          width: 280px;
          height:196px;
          grid-column: 1;
          grid-row: 3;
          }
          .figure3_grille1 img{
          width: 280px;
          height: 147px;
          }
          .grille2{
           grid-row: 3;
           grid-template-columns: 1fr;
           grid-template-rows: none;
           }
          .figure1_grille2{
            grid-row: 1;
            width: 280px;
            height:196px;
            }
            .figure1_grille2 img{
            width: 280px;
            height: 147px;
            grid-row: 1;
            }
            .figure2_grille2{
              width: 280px;
              height:196px;
              grid-column: 1;
              grid-row: 2;
              }
              .figure2_grille2 img{
              width: 280px;
              height: 147px;
              }
            .figure3_grille2{
              width: 280px;
              height:196px;
              grid-column: 1;
              grid-row: 3;
              margin-top: 0px;
              }
              .figure3_grille2 img{
              width: 280px;
              height: 147px;
              }
              footer{
                display: grid;
                grid-template-columns: 307px 230px 1fr;
                }
                footer div{
                  margin-right: 0px;
                  margin-left: 50px;
                }
}
@media screen and (max-width:715px) and (min-width:515px){
  :root{
    --marge: 34px;
  }
  header a{
    margin-right: 25px;
  }
  .filtre{
    display: grid;
    grid-template-columns:170px 100px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
   margin-top: 20px;
 }
 .filtres{
   grid-row: 1;
 }
 .eco{
  grid-row: 2;
    grid-column: 1;
}
.fam{
  grid-row: 2;
  grid-column: 2;
}
.rom{
  grid-row: 3;
  grid-column: 1;
}
.animaux{
grid-column: 1;
grid-row: 4;
}
.contain{
  display: grid;
  grid-template-rows: 300px 1fr;
  width: 515px;
}
.proposition_hebergement{
   width: 400px;
   grid-gap: 60px;
  margin-top: 200px;
  height: 800px;
 }
.proposition_hebergement figure{
  grid-template-columns: 145px 1fr;
  }
  .proposition_hebergement img{
  width: 120px
  }
  .propo_titre .fas{
    margin-left: 180px;
    }
    .resultat_hebergement{
      background-color: var(--white);
      width: 345px;
      grid-row: 2;
      grid-template-columns: 210px;
      grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 2px;
      margin-top: 660px;
     }
     .resultat_hebergement img{
     width: 290px;
     height: 147px;
     margin: 5px;
     }
     .resultat_hebergement figure{
     width: 300px;
     height:260px;
     }
     .figure_hebergement1{
       grid-row: 2;
     }
     .figure_hebergement2{
       grid-row: 3;
     }
     .figure_hebergement3{
       grid-row: 4;
     }
     .figure_hebergement4{
       grid-row: 5;
     }
     .figure_hebergement5{
       grid-row: 6;
     }
     .figure_hebergement6{
       grid-row: 7;
     }
     .afficher{
       grid-column: 1;
     }
     .proposition_activite{
      grid-gap: 5px;
      grid-template-rows:  70px 1fr 1fr;     
      margin-bottom: 100px;
      width: 400px;
      }
      .grille1{
      grid-row: 2;
      grid-template-columns: 1fr;
      grid-template-rows: none;
      }
      .figure1_grille1{
        grid-row: 1 ;
        width: 280px;
        height:196px;
        }
        .figure1_grille1 img{
        width: 280px;
        height: 147px;
        }
        .figure2_grille1{
          width: 280px;
          height:196px;
          grid-row: 2;
          grid-column: 1;
          }
          .figure2_grille1 img{
          width: 280px;
          height: 147px;
          }
        .figure3_grille1{
          width: 280px;
          height:196px;
          grid-column: 1;
          grid-row: 3;
          }
          .figure3_grille1 img{
          width: 280px;
          height: 147px;
          }
          .grille2{
           grid-row: 3;
           grid-template-columns: 1fr;
           grid-template-rows: none;
           }
          .figure1_grille2{
            grid-row: 1;
            width: 280px;
            height:196px;
            }
            .figure1_grille2 img{
            width: 280px;
            height: 147px;
            grid-row: 1;
            }
            .figure2_grille2{
              width: 280px;
              height:196px;
              grid-column: 1;
              grid-row: 2;
              }
              .figure2_grille2 img{
              width: 280px;
              height: 147px;
              }
            .figure3_grille2{
              width: 280px;
              height:196px;
              grid-column: 1;
              grid-row: 3;
              margin-top: 0px;
              }
              .figure3_grille2 img{
              width: 280px;
              height: 147px;
              }
              footer{
                display: grid;
                grid-template-columns: 307px 230px 1fr;
                }
                footer div{
                  margin-right: 0px;
                  margin-left: 15px;
                }
}
@media screen and (max-width:515px){
  :root{
    --marge: 0px;
  }
  header a{
    margin-right: 25px;
  }
  .recherche{
    width: 350px;
  }
  .filtre{
    display: grid;
    grid-template-columns:170px 100px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
   margin-top: 20px;
 }
 .filtres{
   grid-row: 1;
 }
 .eco{
  grid-row: 2;
    grid-column: 1;
}
.fam{
  grid-row: 2;
  grid-column: 2;
}
.rom{
  grid-row: 3;
  grid-column: 1;
}
.animaux{
grid-column: 1;
grid-row: 4;
}
.contain{
  display: grid;
grid-template-rows: 300px 1fr;
width: 300px;
grid-template-columns: 300px;
}
.proposition_hebergement{
   width: 400px;
   grid-gap: 60px;
  margin-top: 200px;
  height: 800px;
 }
.proposition_hebergement figure{
  grid-template-columns: 145px 1fr;
  }
  .proposition_hebergement img{
  width: 120px
  }
  .propo_titre .fas{
    visibility: collapse;
    }
    .resultat_hebergement{
      background-color: var(--white);
      width: 345px;
      grid-row: 2;
      grid-template-columns: 210px;
      grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 2px;
      margin-top: 520px;
     }
     .resultat_hebergement img{
     width: 290px;
     height: 147px;
     margin: 5px;
     }
     .resultat_hebergement figure{
     width: 300px;
     height:260px;
     }
     .figure_hebergement1{
       grid-row: 2;
     }
     .figure_hebergement2{
       grid-row: 3;
     }
     .figure_hebergement3{
       grid-row: 4;
     }
     .figure_hebergement4{
       grid-row: 5;
     }
     .figure_hebergement5{
       grid-row: 6;
     }
     .figure_hebergement6{
       grid-row: 7;
     }
     .afficher{
       grid-column: 1;
     }
     .proposition_activite{
      grid-gap: 5px;
      grid-template-rows:  70px 1fr 1fr;     
      margin-bottom: 100px;
      width: 400px;
      }
      .grille1{
      grid-row: 2;
      grid-template-columns: 1fr;
      grid-template-rows: none;
      }
      .figure1_grille1{
        grid-row: 1 ;
        width: 280px;
        height:196px;
        }
        .figure1_grille1 img{
        width: 280px;
        height: 147px;
        }
        .figure2_grille1{
          width: 280px;
          height:196px;
          grid-row: 2;
          grid-column: 1;
          }
          .figure2_grille1 img{
          width: 280px;
          height: 147px;
          }
        .figure3_grille1{
          width: 280px;
          height:196px;
          grid-column: 1;
          grid-row: 3;
          }
          .figure3_grille1 img{
          width: 280px;
          height: 147px;
          }
          .grille2{
           grid-row: 3;
           grid-template-columns: 1fr;
           grid-template-rows: none;
           }
          .figure1_grille2{
            grid-row: 1;
            width: 280px;
            height:196px;
            }
            .figure1_grille2 img{
            width: 280px;
            height: 147px;
            grid-row: 1;
            }
            .figure2_grille2{
              width: 280px;
              height:196px;
              grid-column: 1;
              grid-row: 2;
              }
              .figure2_grille2 img{
              width: 280px;
              height: 147px;
              }
            .figure3_grille2{
              width: 280px;
              height:196px;
              grid-column: 1;
              grid-row: 3;
              margin-top: 0px;
              }
              .figure3_grille2 img{
              width: 280px;
              height: 147px;
              }
                footer{
                  display: grid;
                  grid-template-rows: 150px 150px 150px;
                  height: 600px;
                  width: auto;
                  }
                  .footer_div3{
                  grid-row:1; 
                  width: 350px;
                  }
                  .footer_div2{
                      grid-row: 2;
                      width: 350px;
                  }
                  .footer_div3{
                      grid-row: 3;
                      width: 350px;
                  }
}